{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}

<div class="row">
  <div class="col-md-6 offset-md-3">
      <h3>Makale Oluştur</h3>
      <hr>
      <form method="post" enctype="multipart/form-data"> <!-- enctype="multipart/form-data" dosya yükleme için gerekli, form verilerini POST yöntemi ile gönderir. -->
    {% csrf_token %}
    {{form.media}} <!-- CKEditor için gerekli medya dosyalarını ekler -->
    <!--{{forms.as_p}} bunun yerine aşağıdakini yazıyoruz crispy kullanmak için-->
    {{ form|crispy }}  <!-- Django crispy forms ile formu daha güzel bir şekilde gösterir -->
    <br>
    <button type="submit" class="btn btn-danger">Oluştur</button>
      </form>
  </div>
</div>



{% endblock body %}